p {
  margin-right: 10px;
}

.car-list-container {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
  /* justify-content: space-evenly;  */
}

.car-list-item {
  margin-bottom: 15px;

}

.car-property {
  /* font-size: 20px; */
}

.user-form {
  display: flex;
  flex-direction: column;
}

.user-form-control {
  max-width: 50%;
}
